* {
  box-sizing: border-box;
}

$white: #FFFFFF;

.icon {
  list-style: none;
  text-align: right;
  font-weight: bold;
  color: $white;
  margin-left:0.3rem;
  }

.remind {
  width: 100%;
  background-color: #38AEF0;
  height:30px;
  &-message{
  text-align: center;
  line-height: 30px;
  color: $white;
  }
  }
.contents {
  width: 100%;
  height: 100%;
  &__left {
  float: left;
  width: 300px;
    &__header {
    height:100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #253141;
      &-name {
      width: 100%;
      font-weight: bold;
      font-size: 16px;
      line-height: 90px;
      color: $white;
        &-icon {
        list-style: none;
        text-align: right;
        font-weight: bold;
        color: $white;
        margin-left:0.3rem;
        }
      }
    }
    &__group {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
      &-name{
      font-size: 15px;
      margin-bottom: 5px;
      color: $white;
      }
      &-message {
      font-size: 11px;
      color:$white;
      }
    
    }
  }

  &__chat {
    float: left;
    width: calc(100vw - 300px);
    height: 100%;
    background-color:#fafafa;
    &__header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
      &__left {
      margin-top: 35px;
        &-title {
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
        }
        &-member {
        display: flex;
        font-size: 12px;
        color: #999999;
        }
      }
      &-btn {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px #38aef0;
      color:#38aef0;
      position: absolute;
      right: 40px;
      }
    }
    &__messages {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
      &__message {
        &__upper {
        display: flex;
        margin-bottom:10px;
          &-user {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
          }
          &-date {
          color:#999999;
          font-size: 12px;
          margin-left: 10px;
          }
        }
        &-text {
        color: #434a54;
        font-size: 14px;
        margin-bottom: 10px;
        }
      }
    }
    &__bottom {
    padding: 20px 40px;
    height: 90px;
    background-color:#ddd;
      &__form {
      display: flex;
        
      &-box {
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style:none;
        position: relative;
          &-message {
            position: relative;
            width: 100%;
            &-picture {
              font-size: 1.3rem;
              position: absolute;
              top: 10px;
              right: 10px;
              cursor: pointer;
                &-icon {
                  display: inline-block;
                  font-size: inherit;
                }
              }
          }
          &-submit {
            width: 100px;
            height: 50px;
            padding: 0 30px;
            margin-left: 15px;
            background-color: #38aef0;
            color: $white;
            cursor: pointer;
          }
        }
      }
    }
  }
}


.hidden {
  display: none;
}

element.style {
  position: relative;
  width: 100%;
}

.new_message {
  display: flex;
}